#titlelogo{
    max-width: 25%;
    max-height: 25%;
}
#background-color{
    background-color:#61b0b2;
}
.bg-custom{
    background-color:#e8e8e7!important
}
/* Estilos para el contenedor del formulario */
.form-container {
    display: inline-block; /* Hace que el contenedor sea en línea */
}
/* Estilos para el botón de búsqueda */
button {
    display: inline-block; /* Hace que el botón sea en línea */
    vertical-align: top; /* Alinea el botón con la parte superior del contenedor */
}
/* Estilos para el enlace de inicio */
.nav-link-custom {
    display: inline-block; /* Hace que el enlace sea en línea */
    vertical-align: top; /* Alinea el enlace con la parte superior del contenedor */
    margin-left: 10px; /* Ajusta el margen izquierdo para separarlo del botón de búsqueda */
}
.centered{
    background-color: #e8e8e7;
    height: 100%;
    width: 27%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    position: relative;
    left: 50%;
    bottom: 100%;
    border-radius: 10%;
    transform: translate(-50%, 10%);
}