{% extends "base/base.html" %}
{% block title %}Detalle de la Publicación{% endblock %}
{% load static %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">{{ item.titulo }}</li>
        <li class="list-group-item"><img src="{% static 'images/' %}{{ item.foto }}"></li>
        <li class="list-group-item">{{ item.descripcion }}</li>
        <li class="list-group-item">{{ item.categoria }}</li>
        <li class="list-group-item">{{ item.fecha_publicacion }}</li>
        {% if tiene_oferta and not item.oculto %}
            <li class="list-group-item"><b>Su oferta está pendiente de ser aceptada</b></li>
        {% endif %}
        <li class="list-group-item">
            {% if item.id_usuario == request.user.id and not item.oculto %}
                <a class="btn btn-primary" href="{% url 'ofertas' item.id %}">
                    <span>Ofertas</span>
                </a>
            {% endif %}
            {% if item.oculto %}
                <button class="btn btn-danger" onclick="mostrarCancelar()">
                    Cancelar intercambio
                </button> 
                {% include 'cancelar_int.html' with id=item.id %}
            {% endif %}
            {% if item.id_usuario == request.user.id or request.user.is_staff or request.user.is_superuser %}
                {% if not item.oculto %}
                <a class="btn btn-danger" onclick="return confirm('¿Está seguro de borrar la publicación?')" href="{% url 'borrar' item.id %}">
                    <span>Borrar</span>
                </a>
                {% endif %}
            {% endif %}
            {% if item.id_usuario != request.user.id and not request.user.is_superuser and not tiene_oferta %}
                <button class="btn btn-success" onclick="mostrarOferta()">Ofertar</button> {% include 'ofertar.html' with id=item.id %}
            {% endif %}
            {% if item.id_usuario != request.user.id and not request.user.is_superuser %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#ventanaEmergente">Escribir comentario</button>
            {% endif %}
        </li>
    </ul>

    <!-- Botón para mostrar comentarios -->
    <button id="toggleComentarios" class="btn btn-info mt-4">Mostrar Comentarios</button>

    <div id="comentarios" class="mt-4" style="display:none;">
        <h3>Comentarios</h3>
        {% for comentario in comentarios %}
            <div class="comment" style="margin-bottom: 20px; padding: 15px; border: 1px solid #c4d4ca; border-radius: 8px; background-color: #eaf7f4;">
                <div class="comment-header" style="margin-bottom: 5px;">
                    <strong>{{ comentario.usuario.nombre }} {{ comentario.usuario.apellido }}</strong>
                    <span class="comment-date" style="color: #666; font-size: 12px;">{{ comentario.fecha_creacion|date:"d M Y H:i" }}</span>
                    {% if not comentario.respondido %}
                        {% if request.user == comentario.usuario %}
                            <button class="btn btn-sm btn-warning editar-comentario-btn" data-id="{{ comentario.id }}">Editar</button>
                        {% endif %}
                        {% if request.user == comentario.usuario or item.id_usuario == request.user.id and not comentario.respondido %}
                            <form action="{% url 'eliminar_comentario' comentario.id %}" method="post" class="delete-comment-form" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="comment-content" style="margin-bottom: 10px;">
                    <p>{{ comentario.contenido }}</p>
                </div>
                <!-- Respuestas a comentarios -->
                {% for respuesta in comentario.respuestas.all %}
                    <div class="response" style="margin-left: 20px;">
                        <div class="response-header" style="margin-bottom: 5px;">
                            <strong>{{ respuesta.usuario.nombre }} {{ respuesta.usuario.apellido }}</strong>
                            <span class="response-date" style="color: #666; font-size: 12px;">{{ respuesta.fecha_creacion|date:"d M Y H:i" }}</span>
                            {% if not comentario.respondido %}
                                {% if item.id_usuario == request.user.id %}
                                    <button class="btn btn-sm btn-warning editar-comentario-btn" data-id="{{ comentario.id }}">Editar</button>
                                {% endif %}
                                {% if request.user == comentario.usuario or item.id_usuario == request.user.id and not comentario.respondido %}
                                    <form action="{% url 'eliminar_comentario' comentario.id %}" method="post" class="delete-comment-form" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="response-content" style="margin-bottom: 10px;">
                            <p>{{ respuesta.contenido }}</p>
                        </div>
                    </div>
                {% endfor %}
                <!-- Botón para abrir la ventana modal para responder -->
                {% if not comentario.respondido and item.id_usuario == request.user.id %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalResponder{{ comentario.id }}">
                        Responder
                    </button>
                    <!-- Ventana modal para responder -->
                    <div class="modal fade" id="modalResponder{{ comentario.id }}" tabindex="-1" role="dialog" aria-labelledby="modalResponderLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalResponderLabel">Responder a {{ comentario.usuario.nombre }}</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post" class="response-form">
                                        {% csrf_token %}
                                        {{ respuesta_form.as_p }}
                                        <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                                        <button type="submit" name="respuesta" class="btn btn-primary">Comentar</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p>No hay comentarios para mostrar.</p>
        {% endfor %}
    </div>

    <!-- Modal para agregar un comentario -->
    <div class="modal fade" id="ventanaEmergente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar un comentario</h5>
                </div>
                <div class="modal-body">
                    <form method="post" class="new-comment-form" id="new-comment-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Publicar comentario</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de éxito para nuevos comentarios -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Comentario publicado</h5>
                </div>
                <div class="modal-body">
                    <p>Su comentario ha sido publicado con éxito.</p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de éxito para editar comentarios -->
    <div class="modal fade" id="editarSuccessModal" tabindex="-1" role="dialog" aria-labelledby="editarSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarSuccessModalLabel">Comentario actualizado</h5>
                </div>
                <div class="modal-body">
                    <p>Su comentario ha sido actualizado con éxito.</p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de éxito para eliminación de comentarios -->
    <div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteSuccessModalLabel">Comentario eliminado</h5>
                </div>
                <div class="modal-body">
                    <p>Su comentario ha sido eliminado con éxito.</p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Mostrar u ocultar la sección de comentarios
        const toggleComentarios = document.getElementById('toggleComentarios');
        const comentariosDiv = document.getElementById('comentarios');
        toggleComentarios.addEventListener('click', function() {
            if (comentariosDiv.style.display === 'none') {
                comentariosDiv.style.display = 'block';
                toggleComentarios.textContent = 'Ocultar Comentarios';
            } else {
                comentariosDiv.style.display = 'none';
                toggleComentarios.textContent = 'Mostrar Comentarios';
            }
        });

        // Formulario de nuevo comentario
        var newCommentForm = document.getElementById('new-comment-form');
        newCommentForm.addEventListener('submit', function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.open('POST', newCommentForm.action, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var formData = new FormData(newCommentForm);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    $('#ventanaEmergente').modal('hide');
                    $('#successModal').modal('show');
                } else {
                    alert('Error al publicar el comentario.');
                }
            };
            xhr.send(formData);
        });

        // Formulario de eliminar comentario
        var deleteForms = document.querySelectorAll('form.delete-comment-form');
        deleteForms.forEach(function(form) {
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                var xhr = new XMLHttpRequest();
                xhr.open('POST', form.action, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                var formData = new FormData(form);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        $('#deleteSuccessModal').modal('show');
                    } else {
                        alert('Error al eliminar el comentario.');
                    }
                };
                xhr.send(formData);
            });
        });

        // Recargar página al cerrar modales de éxito
        $('#successModal, #editarSuccessModal, #deleteSuccessModal').on('hidden.bs.modal', function () {
            window.location.reload();
        });
    });
</script>
{% endblock %}















