{% extends "base/base.html" %}
{% block title %} Detalle de la Publicación {% endblock %}
{% load static %}

{% block content %}
    <ul class="list-group">
    <li class="list-group-item">{{item.titulo}}</li>
    <li class="list-group-item">{{item.cantidad}}</li>
    <li class="list-group-item">{{item.descripcion}}</li>
    </ul>
    <form method = "POST" action="{% url 'oferta_aceptada' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" href="{% url 'oferta_aceptada' %}">Aceptar </button>
    </form>

{% endblock %}
