{% extends "base/base.html" %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
{% if combinadas %}
    <ul class="list-group">
        <li class="list-group-item">Historial de intercambios:</li>
        {% for intercambio, a, b in combinadas %}
            <li class="list-group-item">
                Codigo:{{ intercambio.codigo_intercambio }},Estado: {{ intercambio.estado }},Fecha: {{ intercambio.fecha_acordada }} {% if intercambio.motivo_cancelacion %} Motivo de cancelacion{{ intercambio.motivo_cancelacion }} {% endif %} {{a}} {{b}}
                <br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    No hay intercambios para mostrar.
{% endif %}
{% endblock %}
