{% extends "base/base.html" %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
{% if combinadas %}
    <ul class="list-group">
        <li class="list-group-item">Historial de intercambios:</li>
        {% for intercambio, a, b in combinadas %}
            <li class="list-group-item">
                <b>Codigo: </b>{{ intercambio.codigo_intercambio }} <b>Estado:</b> {{ intercambio.estado }} <b>Fecha:</b> {{ intercambio.fecha_acordada }} <b>Mi item</b> {{a}} <b>intercambio:</b> {{b}} {% if intercambio.motivo_cancelacion %} <b>Motivo de cancelacion:</b> {{ intercambio.motivo_cancelacion }} {% endif %}
                <br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    No hay intercambios para mostrar.
{% endif %}
{% endblock %}
