<!-- Cuadro de diálogo para la oferta -->
<div id="cuadro-oferta" style="display: none;">
    <h2>Ofertar</h2>
    <form method="post" action="{% url 'guardar_oferta' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="hidden" id="id_publicacion" name="id_publicacion" value="{{item.id}}">
        <input type="hidden" id="id_ofertante" name="id_ofertante" value="{{request.user.id}}">
        
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required="True">
        <br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" min="0" required="True">
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required="True"></textarea>
        <br>
        
        <label for="fecha">Fecha de Oferta:</label>
        <input type="date" id="fecha" name="fecha" required="True" onchange="validateDate()">
        <br>
    
        <label for="hora">Hora de Oferta:</label>
        <input type="time" id="hora" name="hora" required="True" onchange="validateTime()">
        <br>
    
        <label for="sucursal">Sucursal:</label>
        <select id="sucursal" name="sucursal" required="True">
            <option value="" disabled selected>Seleccione Sucursal</option>
            <option value="Berazategui">Berazategui</option>
            <option value="Plaza Italia">Plaza Italia</option>
            <option value="Plaza Moreno">Plaza Moreno</option>
        </select>
    
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="#" class="btn btn-secondary" onclick="ocultarOferta()">Cancelar</a>
    </form>
    
</div>




<style>
   #cuadro-oferta {
       display: none;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: #f0f8ff; /* Verde agua */
       padding: 20px;
       border: 2px solid #90ee90; /* Verde lima */
       border-radius: 10px;
       z-index: 1000;
   }

   #cuadro-oferta h2 {
       color: #000; /* Negro */
       margin-bottom: 10px;
   }

   #cuadro-oferta label {
       color: #000; /* Negro */
       margin-bottom: 10px;
   }

   #cuadro-oferta input[type="text"],
   #cuadro-oferta input[type="number"],
   #cuadro-oferta textarea {
       width: 100%;
       padding: 8px;
       margin: 5px 0;
       border: 1px solid #ccc;
       border-radius: 5px;
       box-sizing: border-box;
   }

   #cuadro-oferta button,
   #cuadro-oferta a {
       padding: 10px 20px;
       margin-top: 10px;
       border-radius: 5px;
       color: #fff; /* Blanco */
       cursor: pointer;
       text-decoration: none;
       display: inline-block; /* Hacer que los botones se alineen horizontalmente */
       vertical-align: middle; /* Alinear verticalmente respecto al contenedor */
   }

   #cuadro-oferta button {
       background-color: #90ee90; /* Verde lima */
       border: none;
       margin-right: 10px; /* Espacio entre los botones */
   }

   #cuadro-oferta button:hover {
       background-color: #7cfc00; /* Verde lima más oscuro al pasar el cursor */
   }

   #cuadro-oferta a {
       background-color: #ff6347; /* Rojo coral */
   }

   #cuadro-oferta a:hover {
       background-color: #ff4500; /* Rojo naranja al pasar el cursor */
   }
</style>



<script>
   function mostrarOferta() {
       document.getElementById('cuadro-oferta').style.display = 'block';
   }

   function ocultarOferta() {
       document.getElementById('cuadro-oferta').style.display = 'none';
   }

   function validateDate() {
    const dateInput = document.getElementById('fecha');
    const selectedDate = new Date(dateInput.value);
    const currentDate = new Date();

    // Clear time part of currentDate
    currentDate.setHours(0, 0, 0, 0);

    const day = selectedDate.getUTCDay();
    const timeDifference = selectedDate - currentDate;
    const daysDifference = timeDifference / (1000 * 3600 * 24);

    // Check if the selected day is Sunday (0) or Saturday (6)
    if (day === 0 || day === 6) {
        alert('Por favor, seleccione una fecha entre lunes y viernes.');
        dateInput.value = ''; // Clear the invalid date
        return;
    }

    // Check if the selected date is the same as the current date or within two days
    if (daysDifference < 2) {
        alert('Por favor, seleccione una fecha que sea al menos dos días después de la fecha actual.');
        dateInput.value = ''; // Clear the invalid date
        return;
    }

    // Check if the selected date is more than 20 days from the current date
    if (daysDifference > 20) {
        alert('Por favor, seleccione una fecha que no sea más de veinte días después de la fecha actual.');
        dateInput.value = ''; // Clear the invalid date
        return;
    }
}



   function validateTime() {
        const timeInput = document.getElementById('hora');
        const selectedTime = timeInput.value;
        const [hours, minutes] = selectedTime.split(':').map(Number);

        // Check if the time is within the allowed range
        if (hours < 10 || (hours === 18 && minutes > 0) || hours > 18) {
            alert('Por favor, seleccione una hora entre las 10:00 AM y las 6:00 PM.');
            timeInput.value = ''; // Clear the invalid time
        }
    }

    function validateForm() {
    const sucursalSelect = document.getElementById('sucursal');
    const selectedSucursal = sucursalSelect.value;

    if (selectedSucursal === "") {
        alert('Por favor, seleccione una sucursal válida.');
        return false; // Evita el envío del formulario
    }

    // Otras validaciones aquí...

    return true; // Permite el envío del formulario si todo es válido
}

</script>