{% extends "base/base.html" %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <h5 class="card-header" style="background-color: #82d8bf; color: #fff;">{{ user.nombre }} {{ user.apellido }}</h5>
                <div class="card-body" style="background-color: #f0f0f0;">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="width: 30%;">Correo</th>
                            <td>{{ user.correo }}</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nombre</th>
                            <td>{{ user.nombre }}</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Apellido</th>
                            <td>{{ user.apellido }}</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Fecha de Nacimiento</th>
                            <td>{{ user.nacimiento }}</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">DNI</th>
                            <td>{{ user.dni }}</td>
                        </tr>
                    </table>
                    <div class="text-center mt-3">
                        <a href="{% url 'editar_perfil' %}" class="btn btn-custom" style="background-color: #82d8bf; border-color: #82d8bf;">Editar Datos</a>
                        <a href="{% url 'cambiar_contraseña' %}" class="btn btn-custom" style="background-color: #82d8bf; border-color: #82d8bf; margin-left: 10px;">Cambiar Contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
