{% extends "base/base.html" %} {% block title %} Iniciar sesion {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="centered"> 
            <p>
                {{ forms.as_p }}
                <input class="btn btn-primary float" type="submit" value="Aceptar"><br><br>
                <a href="{% url 'register' %}">Crear cuenta nueva</a><br>
                <a href="{% url 'restablecer_contraseña' %}">¿Has olvidado tu contraseña?</a><br>
                {{ mensaje }}
            </p>
        </div>
    </form>
{% endblock %}