{% extends "base/base.html" %} {% block title %} Registro {% endblock %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="centered">
      <p>
        {% for field in forms %}
          {% if not field.field.widget.attrs.name == 'special' %}
            {{ field|linebreaks }}
          {% endif %}
        {% endfor %}
        Fecha de nacimiento<br>
        {% for field in forms %}
          {% if field.field.widget.attrs.name == 'special' %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <br><br><input class="btn btn-primary float" type="submit" value="Registrar"><br>
        <b>{{ mensaje }}</b>
      </p>
    </div>
  </form>
{% endblock %}